<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>NameAsigment</servlet-name>
        <servlet-class>Servlets.NameAsigment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInput</servlet-name>
        <servlet-class>Servlets.UserInput</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleSize</servlet-name>
        <servlet-class>Servlets.SaleSize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleQuantity</servlet-name>
        <servlet-class>Servlets.SaleQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SugarSale</servlet-name>
        <servlet-class>Servlets.SugarSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreamSale</servlet-name>
        <servlet-class>Servlets.CreamSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MilkSale</servlet-name>
        <servlet-class>Servlets.MilkSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeUpdater</servlet-name>
        <servlet-class>Servlets.TimeUpdater</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTime</servlet-name>
        <servlet-class>Servlets.UpdateTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToReceipt</servlet-name>
        <servlet-class>Servlets.AddToReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VirtualReceipt</servlet-name>
        <servlet-class>Servlets.VirtualReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetState</servlet-name>
        <servlet-class>Servlets.ResetState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GhostReceipt</servlet-name>
        <servlet-class>Servlets.GhostReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CleanForm</servlet-name>
        <servlet-class>Servlets.CleanForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleUnitPrice</servlet-name>
        <servlet-class>Servlets.SaleUnitPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleSubTotal</servlet-name>
        <servlet-class>Servlets.SaleSubTotal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BruteTotal</servlet-name>
        <servlet-class>Servlets.BruteTotal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaxTotal</servlet-name>
        <servlet-class>Servlets.TaxTotal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountTotal</servlet-name>
        <servlet-class>Servlets.DiscountTotal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NetTotal</servlet-name>
        <servlet-class>Servlets.NetTotal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabProductID</servlet-name>
        <servlet-class>Servlets.GrabProductID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendToDataBase</servlet-name>
        <servlet-class>Servlets.SendToDataBase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetDetailVariables</servlet-name>
        <servlet-class>Servlets.ResetDetailVariables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadReceipts</servlet-name>
        <servlet-class>Servlets.LoadReceipts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReceipt</servlet-name>
        <servlet-class>Servlets.DeleteReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditReceipt</servlet-name>
        <servlet-class>Servlets.EditReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiptOverWrite</servlet-name>
        <servlet-class>Servlets.ReceiptOverWrite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetCondition</servlet-name>
        <servlet-class>Servlets.SetCondition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetHalfCondition</servlet-name>
        <servlet-class>Servlets.SetHalfCondition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CleanCondition</servlet-name>
        <servlet-class>Servlets.CleanCondition</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NameAsigment</servlet-name>
        <url-pattern>/NameAsigment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInput</servlet-name>
        <url-pattern>/UserInput</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleSize</servlet-name>
        <url-pattern>/SaleSize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleQuantity</servlet-name>
        <url-pattern>/SaleQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SugarSale</servlet-name>
        <url-pattern>/SugarSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreamSale</servlet-name>
        <url-pattern>/CreamSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MilkSale</servlet-name>
        <url-pattern>/MilkSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTime</servlet-name>
        <url-pattern>/UpdateTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToReceipt</servlet-name>
        <url-pattern>/AddToReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VirtualReceipt</servlet-name>
        <url-pattern>/VirtualReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetState</servlet-name>
        <url-pattern>/ResetState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GhostReceipt</servlet-name>
        <url-pattern>/GhostReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CleanForm</servlet-name>
        <url-pattern>/CleanForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleUnitPrice</servlet-name>
        <url-pattern>/SaleUnitPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleSubTotal</servlet-name>
        <url-pattern>/SaleSubTotal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BruteTotal</servlet-name>
        <url-pattern>/BruteTotal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaxTotal</servlet-name>
        <url-pattern>/TaxTotal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountTotal</servlet-name>
        <url-pattern>/DiscountTotal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NetTotal</servlet-name>
        <url-pattern>/NetTotal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabProductID</servlet-name>
        <url-pattern>/GrabProductID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendToDataBase</servlet-name>
        <url-pattern>/SendToDataBase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetDetailVariables</servlet-name>
        <url-pattern>/ResetDetailVariables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadReceipts</servlet-name>
        <url-pattern>/LoadReceipts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReceipt</servlet-name>
        <url-pattern>/DeleteReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditReceipt</servlet-name>
        <url-pattern>/EditReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiptOverWrite</servlet-name>
        <url-pattern>/ReceiptOverWrite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetCondition</servlet-name>
        <url-pattern>/SetCondition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetHalfCondition</servlet-name>
        <url-pattern>/SetHalfCondition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CleanCondition</servlet-name>
        <url-pattern>/CleanCondition</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
